DATABASE_URL=postgresql://natura_user:PASSWORD@/natura?host=/cloudsql/treklyapp:europe-west1:natura-db
GCP_PROJECT_ID=treklyapp
GCP_STORAGE_BUCKET=natura-tours-media
JWT_SECRET=
JWT_AGENCY_SECRET=
PORT=8080
GOOGLE_WEB_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID_EAS=
GOOGLE_IOS_CLIENT_ID=
APPLE_BUNDLE_ID=com.treklyapp.treklyy
APPLE_SERVICES_ID=com.treklyapp.treklyy.web
